<div class="container margin-top">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center;">History of time logged</h3>
        </div>
        <div class="panel-body">

            <div class="actions">
                <div *ngIf="items_length > 0">
                    <label>Showing items {{ start + 1 }} - {{ start + limit }} of {{ items_length }}</label>
                </div>
                <div class="right">
                    <input class="form-control input-sm" name="search" id="search" [(ngModel)] = "search" placeholder="Search..." (keyup) = "initTable();"/>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th (click)="orderTable('id')">ID <i *ngIf = "order.field == 'id'" class="fa fa-arrow-{{order.asc === true ? 'up' : 'down'}}"></i> </th>
                    <th (click)="orderTable('date_finished')">Date Finished <i *ngIf = "order.field == 'date_finished'" class="fa fa-arrow-{{order.asc === true ? 'up' : 'down'}}"></i></th>
                    <th (click)="orderTable('time_tracked')">Time Tracked <i *ngIf = "order.field == 'time_tracked'" class="fa fa-arrow-{{order.asc === true ? 'up' : 'down'}}"></i></th>
                    <th (click)="orderTable('description')">Description <i *ngIf = "order.field == 'description'" class="fa fa-arrow-{{order.asc === true ? 'up' : 'down'}}"></i></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngIf = "loader !== true">
                    <tr *ngFor = "let row of times_logged">
                        <td>{{ row.id }}</td>
                        <td>{{ row.date_finished }}</td>
                        <td>{{ row.time_tracked_formatted }}</td>
                        <td>{{ row.description }}</td>
                    </tr>
                </ng-container>
                <tr *ngIf = "times_logged?.length == 0 && loader !== true">
                    <td class="center" colspan="4">No data to display</td>
                </tr>
                <tr *ngIf = "loader === true">
                    <td class="center" colspan="4">Loading...</td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="items_length > 0">
                <label>Page {{ round(start / limit) + 1 }} of {{ round(items_length / limit) }}</label>
            </div>

            <nav aria-label="Page navigation example" *ngIf = "pagination?.length > 0">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" (click)="goPrev()">
                            Previous
                        </a>
                    </li>
                    <li class="page-item {{ page.selected === true ? 'active' : '' }}" *ngFor="let page of pagination; let i = index">
                        <a class="page-link" href="javascript:void(0)" (click)="goToPage(i)">
                            {{ i+1 }}
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" (click)="goNext()">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>