{{ time_tracked }}

<button class="btn btn-primary" (click)="startTimer()" [disabled]="is_started == true">Start</button>
<button class="btn btn-primary" (click)="is_paused == true ? resumeTimer() : pauseTimer()" *ngIf="is_started == true">{{ is_paused == true ? 'Resume' : 'Pause' }}</button>
<button class="btn btn-primary" (click)="stopTimer()" *ngIf="is_started == true">Stop</button>


<!-- Modal -->
<div class="modal fade" id="TimeTrackerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) = "saveTime()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#TimeTrackerModal">Open Modal</button>